; Configure logging
(logging/init {:file "/var/log/riemann/riemann.log"})

; Disable instrumentation
(instrumentation {:enabled? false})

; Listen on the local interface over TCP (5555), websockets
; (5556), and server-side-events (5558)
(let [host "0.0.0.0"]
  (tcp-server {:host host :port 5555})
  (sse-server {:host host :port 5558})
  (ws-server  {:host host :port 5556}))

; Expire old events from the index every 5 seconds.
(periodically-expire 5)

; Index all events with a default time-to-live of 60 seconds
(let [index (index)]
  (streams
    (default :ttl 60
      index)))
